* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(109,34,195);
background: radial-gradient(circle, rgba(109,34,195,1) 0%, rgba(0,0,0,) 100%);

display: flex;
align-items: center;
justify-content: center;
}



.calculator {
    width: 300px;
    height: 70vh;
    max-height: 400px;
    border-radius: 15%;
    background-color: rgb(53, 57, 53);
    margin-top: 50px;
}

.display {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    border-top-left-radius: 19%;
    border-top-right-radius: 19%;
    background-color: aliceblue;
    border: solid 15px  rgb(53, 57, 53);
    ;
    height: 20%;
    
}

.buttons {
    background-color: rgb(53, 57, 53);

    
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    max-height: 400px;
    flex-direction: row;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    padding-bottom: 12px;
   
   

}

.gridBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 69, 79);
    cursor: pointer;
    
    border: solid rgb(54, 69, 79);
    
    border-radius: 55%;
    height: 1fr;
    width: 60px;
    margin: 0;

    margin-left: 5px;
    
    margin-bottom: 6px;
    margin-top: 6px;
   

    
}

.gridBox p {
    color: white;
    font-weight: 800;
    
}

.double {
    display: flex;
    justify-content: flex-start;
    

    width: 120px;
    border-radius: 40%;
    margin-right: 20px;
    margin-left: 0px;
    position: relative;
    left: 11px;
    
}

.special-0 {
    padding-left: 20px;
}
